body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.container {
  width: 50%;
  text-align: left;
  font-size: 20px;
  color: cornflowerblue;
  margin-left: 50px;

  header {
    font-size: 2.5rem;
    color: midnightblue;
    margin-bottom: 10px;
  }

  .wrapper {
    padding: 20px;
    border: 3px solid cornflowerblue;
    border-radius: 10px;
    box-shadow: 5px 5px;
  }

  form {
    padding: 20px;
    border: 3px solid cornflowerblue;
  }

  .inner-box {
    padding: 20px;
    border: 3px solid cornflowerblue;
  }


  .content {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  input {
    width: 50%;
    height: 25px;
    margin-left: 30px;
  }

  .btn {
    margin: 0;
    display: flex;
    justify-content: center;

    button {
      padding: 5px 25px;
      background: linear-gradient(to bottom, white, #c0d4f8);
      color: cornflowerblue;
      border-radius: 5px;
      border: none;
      cursor: pointer;
    }


    button:active {
      box-shadow: 0 5px cornflowerblue;
      transform: translateY(4px);

    }
  }

  input:focus {
    border-color: #66afe9;
  }

  .error-message {
    font-size: 14px;
    color: red;
  }
}


img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.active-img {
  cursor: pointer;
}

.active-img:active {
  box-shadow: 0px 5px cornflowerblue;
  background-color: cornflowerblue;
  border: 50%;
  transform: translateY(4px);

}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
}